* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #334;
}

::-webkit-scrollbar-track {
	border-radius: 8px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background: #334;
	border-radius: 0px;
	border: 2px solid #fff;
	min-height: 70px;
}
.blue {
	background-color: #0275d8;
}
.red {
	background-color: #f00;
}
.green {
	background-color: #079647;
}
.orange {
	background-color: #f5b225;
}
.dashcard {
	padding: 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 8px #ddd;
}
.section-title {
	font-size: 18px;
	font-weight: 600;
}
.home-users {
	margin: 20px -20px;
}
.round-img {
	border-radius: 50%;
}